<!-- app/views/snippets/_navigation.html.erb -->
<!-- All snippets in rails need underscore -->

<ul>
	<li class="nav"><a href="/">Home</a></li>
	<li class="nav"><a href="/contact">Contact</a></li>
	<li class="nav"><a href="/calculate">Calculator</a></li>
	<li class="nav"><a href="/projects">Projects</a></li>
</ul>