<!DOCTYPE html>
<html>
<head>
	<title>Add</title>
</head>
<body>
	<form method="POST">
		<input type="number" name="first_number" placeholder="First number"> + <input type="number" name= "second_number" placeholder="Second number">
		<button type="submit" formaction="/calculate_add">Add</button>
		<button type="submit" formaction="/subtract">Subtract</button>
		<button type="submit" formaction="/div">Divide</button>
		<button type="submit" formaction="/mult">Multiply</button>
	</form>
</body>
</html>