<!DOCTYPE html>
<html>
<head>
	<title>Movie Posters</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="container">
		<h1>Movie Trivia!</h1>
		<h3>Which of the following movies were released in the year <%= @year %>?</h3>
		<% @movies.each do |movie| %>
			<div class="fancy">
				<form action="/answer" method="POST">
					<input type="image" name="year" value="<%= movie.year %>" src="<%= movie.poster %>">
				</form>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
</body>
</html>