<link href="style.css" rel="stylesheet"/>
<h1><3<3<3 My first Sinatra app <3<3<3</h1>
<img src="/giphy.gif">
<ul>
	<li>
		<a href="/">Home</a>
	</li>
	<li>
		<a href="/hi">Hello</a>
	</li>
	<li>
		<a href="/about">About</a>
	</li>
	<li>
		<a href="/best_pizza">Best Pizza!</a>
	</li>
</ul>