<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<title>Blog</title>
</head>
<body>
	<ol>
		<% @posts.each_with_index do |post,index| %>
			<li>
				<a href="/content/<%= index %>"><div class="post">
					<h2><%= post.title %></h2>
					<h3><%= post.author %></h3>
					<p><i><%= post.date.asctime %></i></p>
				</div></a>
			</li>
			
		<%end%>
		<br>
		<a href="/newPost">Click here to add a new post</a>
	</ol>
</body>
</html>