
<!-- <img src="/assets/winter_town.jpg" title="Isn't this nice?" alt="Street view of small town in sleeting snow"> -->

<%= image_tag "winter_town.jpg", :alt => "Street view of small town in sleeting snow", :title => "Isn't this nice?" %>
<p>Ironhack powered</p>